html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 80%;
}
.container-body{
    margin-top: 100px;
    padding: 10px;
}

/*任务卡片*/
.task-card{

}


.popup-dialog-new-task{
    padding: 10px;
}

